.header-container {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  align-items: center;
}
.header-container .tabs {
  display: flex;
  justify-content: center;
  width: 100%;
}
.header-container .tabs .tab {
  margin: 24px 20px 0;
  text-decoration: none;
  color: #000;
}
.header-container .login-signup {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.header-container .login-signup a {
  text-decoration: none;
}
.header-container .login-signup .tab {
  margin: 24px 40px 0;
  text-decoration: none;
  color: #000;
}
.header-container .login-signup .button {
  color: #fff;
  height: 36px;
  width: 130px;
  font-family: Poppins, "sans-serif";
}
